# Created by .ignore support plugin (hsz.mobi)
### Example user template template
### Example user template

# IntelliJ project files
.env
.idea
*.iml
/node_modules/
out
/public/assets/uploads/*
gen
package-lock.json

/client/dist/**/*