<!doctype html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport"
	      content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<script src="https://unpkg.com/lodash@4.16.6"></script>
	<title>Multiplayer - Hangman</title>
</head>
<body>
<h1>Multiplayer Hangman Game</h1>
<div>
	<div id="secret-word-container"></div>
	<label for="guessInput">Enter a letter</label>
	<input id="guessInput" type="text">
	<button id="guess-submit">Submit</button>
	<div id="game-message"></div>
</div>
<script src="../dist/bundle.js"></script>
</body>
</html>