#game-view-container{
  #game-view{
    max-width: 200px;
  }
}

body{
	right:35%;
    width:380px;
    height:100px;
    position:absolute;
    text-align:center;
}
h1{
	margin:auto;
    line-height:50px;
    vertical-align:middle;
}
.space{
	padding: 4px 0px;
}
.error{
	color:red;
}
.warn{
	color:#ffba60;
}
.correct{
	color:#10a800;
}
#secret-word-container{
	font-size:23px;
}


@-webkit-keyframes swinging{
    0%{-webkit-transform: rotate(2deg);}
    50%{-webkit-transform: rotate(-1deg)}
    100%{-webkit-transform: rotate(2deg);}
}
 
@keyframes swinging{
    0%{transform: rotate(2deg);}
    50%{transform: rotate(-1deg)}
    100%{transform: rotate(2deg);}
}
 
#Right_Arm, #Head, #Right_leg, #Torso, #Left_Leg{
    -webkit-transform-origin: 50% 0;
    transform-origin: 50% 0;
    -webkit-animation: swinging 3.5s ease-in-out forwards infinite;
    animation: swinging 3.5s ease-in-out forwards infinite;
}