#game-view-container{
  #game-view{
    max-width: 200px;
  }
}

body{
    max-width:1000px;
    margin:0 auto;
    width:60%;
    height:100px;
    text-align:center;
}
h1{
	margin:auto;
    line-height:4.5rem;
    vertical-align:middle;
  font-family: 'Anton', sans-serif;
  font-size: 3rem;
}
.space{
	padding: 4px 0px;
}
.error{
	color:red;
}
.warn{
	color:#ffba60;
}
.correct{
	color:#10a800;
}
#secret-word-container{
	font-size:23px;
}


#logo {
  position: fixed;
  left: 10px;
  span {
    display: inline;
  }
  .part-1 {
    font-size:2rem;
    color: #bd6161;
  }
  .part-2 {
    font-size:2.5rem;
    color: #5b5bba;
  }
  .part-3 {
    margin-top: -105px;
    display: block;
    font-size:3.05rem;
  }
}

@-webkit-keyframes swinging{
    0%{-webkit-transform: rotate(2deg);}
    50%{-webkit-transform: rotate(-1deg)}
    100%{-webkit-transform: rotate(2deg);}
}
 
@keyframes swinging{
    0%{transform: rotate(2deg);}
    50%{transform: rotate(-1deg)}
    100%{transform: rotate(2deg);}
}
 
#Right_Arm, #Head, #Right_leg, #Torso, #Left_Leg{
    -webkit-transform-origin: 50% 0;
    transform-origin: 50% 0;
    -webkit-animation: swinging 3.5s ease-in-out forwards infinite;
    animation: swinging 3.5s ease-in-out forwards infinite;
}

#hangman-svg {
  max-width: 500px;
  margin-top: 100px;
}