h1{
}

#logo {
    position: fixed;
    left: 10px;
    
	margin:auto;
    line-height:4.5rem;
    vertical-align:middle;
    font-family: 'Anton', sans-serif;
    font-size: 3rem;
    span {
      display: inline;
    }
    .part-1 {
      font-size:2rem;
      color: #bd6161;
    }
    .part-2 {
      font-size:2.5rem;
      color: #5b5bba;
    }
    .part-3 {
      margin-top: -105px;
      display: block;
      font-size:3.05rem;
    }
  }