// Very very much a placeholder, please delete as needed.
#logo {
  position: fixed;
  left: 10px;
  top: 20px;
  margin: auto;
  line-height: 2.5rem;
  vertical-align: middle;
  font-family: 'Anton', sans-serif;
  font-size: 1.5rem;

  span {
    display: inline;
  }
  .part-1 {
    font-size: 1rem;
    color: #bd6161;
  }
  .part-2 {
    font-size: 1.5rem;
    color: #5b5bba;
  }
  .part-3 {
    margin-top: -105px;
    display: block;
    font-size: 1.75rem;
  }
}
