// JS needs to be updated to separate _ into spans. 
#secret-word-container-style {
    display: flex;
    width: 100%;
    span {
      font-size: 5rem;
      flex: 1;
        
      // Apply styles to each letter
      &.guess-letter-1 {
        color: red;
      }
      &.guess-letter-2 {
        color: green;
      }
      &.guess-letter-3 {
        color: brown;
      }
      &.guess-letter-4 {
        color: navy;
      }
      
    }
  }