// JS needs to be updated to separate _ into spans. 
#secret-word-container-style {
    display: flex;
    height: 100%;
    vertical-align: middle;
    width: 100%;
    span {
      font-size: 5rem;
      flex: 1;
        
      // Apply styles to each letter
      &.guess-letter:nth-of-type(4n+1) {
        color: red;
      }
      &.guess-letter:nth-of-type(4n+2) {
        color: green;
      }
      &.guess-letter:nth-of-type(4n+3) {
        color: brown;
      }
      &.guess-letter:nth-of-type(4n+4) {
        color: navy;
      }
      
    }
  }