/* With SASS you can create variables and then import them into other SASS files.
*  You want to name them descriptive, not based on their color.
*/

// P.S I make no apologies for spelling colour the UK way

$generalFontColour: white;
$bottomPanelColour1: beige;
$backgroundColour: #333;


/* Plank background */
$plank-svg-primary: beige;
$plank-svg-secondary: beige;
$plank-svg-tertiary: beige;
$plank-svg-quadrenary: beige;

/* Hangpost */
/*
* If you would like to improve/replace the illustrations feel free
* Either creating them for scratch or requesting the illustrator files works!
*/

// Leaving this rule here to quickly make relevant parts visible
// #hangman-svg * { display: block !important } // Override game rules for styling
$post-primary: beige;
$post-secondary: beige;
$post-tertiary: beige;

/* Pig. Snort snort. */
$rope-colour: black; 
$pig-primary: #335599;
$pig-secondary: #3388aa;
$pig-quadrenary: #44aacc;
$pig-quintenary: beige; // Alright now it's getting silly.

/* Clouds */
$cloud-colour: beige;
$sun-face-colour: beige;
$sun-eye-colour: white;