/* With SASS you can create variables and then import them into other SASS files.
*  You want to name them descriptive, not based on their color.
*/
$generalFontColour: white;
$bottomPanelColour1: #000;
$backgroundColour: #ff9b44;