@import '_variables.scss'; //how you get access to variables
// Components 
@import '_hangman.scss'; // CSS for pig/hangman
@import '_secretwords.scss';
@import '_logo.scss';
@import '_svg_colours.scss';

// Positioning, universal styles, and general SCSS

html {
  height: 100%;
}
body{
    margin:0 auto;
    height:100%;
    text-align:center;
    background-color: $backgroundColour;
    color: $generalFontColour;
}

#game-view-container{
  height: 75%;
}

#bottom-panel {
  height:20%;
  position: fixed;
  bottom:0;
  width: 100%;
  background-color: $bottomPanelColour1;
}

#sidebar-container{
  float: right;
  width: 50%;
  text-align: right;

  #profile-pig-icon {
    width: 24px;
    height: 24px;
  }
  #player-profile-dropdown {
    display: none;
  }
}
h1{
	margin:auto;
    line-height:4.5rem;
    vertical-align:middle;
  font-family: 'Anton', sans-serif;
  font-size: 3rem;
}

.error{
	color:red;
}

.warn{
	color:#ffba60;
}

.correct{
	color:#10a800;
}

#planks-background {
  position: fixed;
  left:-10%;
  right: -10%;
  width: 120%;
  z-index:-1;
  bottom: 20%;
}

#clouds-background {
  position: fixed;
  z-index:-2;
  top:0;
  right:0;
  left:0;
  bottom:0;
  max-height: 200px;
}

// I'd add classes to these SVG items, but given they are prototypes it would have to be redone on edit
#Cloud_1, #Cloud_2, #Cloud_3, #Cloud_4, #Cloud_5 {
  transform: translateX(0%);
  transition:all 60s ease;
}

#Beams_1, #Beams_2, #Beams_3, #Beams_4 {
  transition: all 1s ease;
  transform: scale(1);
}