@import '_variables.scss'; //how you get access to variables
// Components 
@import '_hangman.scss'; // CSS for pig/hangman
@import '_secretwords.scss';
@import '_logo.scss';

// Positioning, universal styles, and general SCSS

html {
  height: 100%;
}
body{
    margin:0 auto;
    height:100%;
    text-align:center;
    background-color: $backgroundColour;
    color: $generalFontColour;
}

#game-view-container{
  height: 75%;
}

#bottom-panel {
  height:20%;
  position: fixed;
  bottom:0;
  width: 100%;
  background-color: $bottomPanelColour1;
}

#sidebar-container{
  float: right;
  width: 50%;
  text-align: right;
}
h1{
	margin:auto;
    line-height:4.5rem;
    vertical-align:middle;
  font-family: 'Anton', sans-serif;
  font-size: 3rem;
}

.error{
	color:red;
}

.warn{
	color:#ffba60;
}

.correct{
	color:#10a800;
}

