@import '_variables.scss'; //how you get access to variables
// Components
@import '_hangman.scss'; // CSS for pig/hangman
@import '_secretwords.scss';
@import '_logo.scss';
@import '_svg_colours.scss';
@import '_background.scss';

// Positioning, universal styles, and general SCSS

html {
  height: 100%;
}
body {
  margin: 0 auto;
  height: 100%;
  text-align: center;
  background-color: $backgroundColour;
  color: $generalFontColour;
  font-family: 'Kanit', sans-serif;
  letter-spacing: 3px;
  font-size: 1.5rem;
}

#game-view-container {
  height: 75%;
}

#bottom-panel {
  height: 20%;
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: $bottomPanelColour1;
}

#sidebar-container {
  float: right;
  width: 40%;
  text-align: right;
  margin-right: 25px;

  #player-profile-dropdown {
    display: none;
  }
}

#guess-display {
  font-size: 10rem;
}

#guessInput {
  display: none;
}

h1 {
  margin: auto;
  line-height: 4.5rem;
  vertical-align: middle;
  font-size: 3rem;
}

.error {
  color: red;
}

.warn {
  color: #ffba60;
}

.correct {
  color: #10a800;
}

.char1 {
  color: red;
}

.char2 {
  color: blue;
}

.char3 {
  color: green;
}

.char4 {
  color: beige;
}
.char5 {
  color: brown;
}
.char6 {
  color: olive;
}
.char7 {
  color: black;
}
